

:root
{

	--primary-color: #f5f5dc;
	--secondary-color:white;
	--course-color:#FFFFF0;
	--font-color:black;
	--secondary-font-color: #666;
	--links-color: #101643;
	--border-color: #EDEBCE
}

.dark-mode
{
	--primary-color: #4C483A;
	--secondary-color: #35342E;
	--course-color:#47453D;
	--font-color:white;
	--secondary-font-color: #666
	--links-color: yellow;
	--border-color: #171615;
}

.course-containerCC {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 10px;
	
}

.courseCC {
	 
    width: 200px;
    padding: 20px;
    margin: 20px;
    background-color: var(--secondary-color);
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: 5px;
    text-align: center;
	  background-color: var(--course-color);
}

.course-info {
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


.courseCC:hover .course-info {
    display: block;
}