



:root
{

	--primary-color: #f5f5dc;
	--secondary-color:white;
	--course-color:#FFFFF0;
	--font-color:black;
	--secondary-font-color: #666;
	--links-color: #101643;
	--border-color: #EDEBCE
	--box-shadow:0px 0px 10px;
}

.dark-mode
{
	--primary-color: #4C483A;
	--secondary-color: #35342E;
	--course-color:#47453D;
	--font-color:white;
	--secondary-font-color: #666
	--links-color: yellow;
	--border-color: #171615;
	--box-shadow:0px 0px 10px #46453D;
}



.container {
    background-color:  var(--secondary-color);
    padding: 20px;
margin-top: 5%;}

.kids {
    background-color: #f0f0f0; 
    overflow-y: scroll; 
}

.list {
    padding: 0;
    list-style: none;
}

.list li {
    padding: 1em;
    border-bottom: 1px solid;
    border-color: var(--border-color);
    white-space: nowrap; 
}


h2 {
    margin: 10px;
    text-align: center; 
}
.button-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
margin-top:10%;	
}

.styled-button {
    padding: 10px 20px;
    background-color: #8A9A5B;
    color: #fff;
    border: none;
border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
	font-size:100%;
}

.styled-button:hover {
    background-color: #355E3B;
}
